In [23]:
#| hide
%load_ext autoreload
%autoreload 2
from gdb_utils.core import *

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# gdb-utils

>

TEI/XMLデータを扱う際のツール群です。

## Install

```sh
pip install git+https://github.com/nakamura196/gdb_utils
```

## 使い方

In [24]:
client = TeiUtils()

## ダウンロード

In [25]:
url = "https://utda.github.io/goethe/data/xml/goethe.xml"
path = "data/goethe.xml"
client.download(url, path)

## 分析

In [26]:
client.get_tag_freq(path)

### 頻度の降順で表示

In [27]:
client.df

          Tag  Count
8    persName     15
55         lb     13
10          p      9
50        app      8
51        lem      8
..        ...    ...
28      width      1
29   handDesc      1
1   teiHeader      1
31    history      1
30   handNote      1

[61 rows x 2 columns]

### 名前の昇順で表示

In [28]:
client.df_tag

                Tag  Count
0               TEI      1
18         addrLine      1
17          address      1
50              app      8
5            author      2
..              ...    ...
4             title      7
3         titleStmt      1
41  variantEncoding      1
28            width      1
13          witness      2

[61 rows x 2 columns]